$white-color: #fff;
$black-color: #000;

$body-background: #DFF6FF;
// $sections-background: #1C2025;
$sections-background: #47B5FF;

$headlines: #fffffe;
$headlines2: #cfc547;

$button-color: #47B5FF;