.navbar{
    background-color: $black-color;

    .navbar-brand{
        color: $button-color;

        &:hover{
            color: $white-color;
        }
    }
    .nav-item{
        padding: 0 1rem;
        a.nav-link{
            color: $button-color;

            &:hover{
                color: $white-color;
            }
        }


        a.active{
            background-color: $button-color;
            color: $white-color !important;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
    }
}