.categories{
    .card{
        color: $dark-color;
        background-color: $sections-background;
        transition: all .4s ease-out;
        -webkit-transition: all .4s ease-out;
        -moz-transition: all .4s ease-out;
        -ms-transition: all .4s ease-out;
        -o-transition: all .4s ease-out;
        
        .card-body{
            .card-text{
                font-size: .8rem;
            }
        }

        &:hover{
            box-shadow: rgba(252, 247, 247, 0.849) 0px 5px 15px;
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            cursor: pointer;

            @include respond(tablet) {
                transform: scale(1);
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
            }
    
        }
    }
}