a.btn{
    background-color: $button-color;
    color: $white-color;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
   
    &:hover{
        background-color:  $white-color;
        color: $button-color;
    }
}