@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Rowdies', cursive;
    background-color: $body-background;
    overflow-x: hidden;
}

.sections-title{
    color: $headlines;
    font-size: 1.4rem;
    letter-spacing: 10px;
    @include text-shadow;
}